*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #745D9B;
}
#main{
    height: 100%;
    width: 100%;
    padding:0.1px;
    background-color: #745D9B;
    overflow-x: hidden;
}
nav{
    height: 20vh;
    width: 100%;
    /* background-color: #4C3E53; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5vh;
}
.logo{
    height: 100%;
}
#tasks{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
h3{
    width: 100%;
    color:#FEFFFE;
    font-size: 30px;
    margin: 3px;
    padding: 5px;
}
#addatask{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(15, 153, 118); */
    padding: 2px;
}
.ipt_text{
    width: 30%;
    height: 30%;
    margin-right: 2px;
    border: 2px solid #4b3374;

}
.ipt_text::placeholder{
    text-align: center;
}

#btn{
    height: 30%;
    width: 5%;
    border-radius: 50%;
    background-color: #FDACAA;
    border-color: none;
}